include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include core_business_cycle *.css
recursive-include core_business_cycle *.csv
recursive-include core_business_cycle *.html
recursive-include core_business_cycle *.ico
recursive-include core_business_cycle *.js
recursive-include core_business_cycle *.json
recursive-include core_business_cycle *.md
recursive-include core_business_cycle *.png
recursive-include core_business_cycle *.py
recursive-include core_business_cycle *.svg
recursive-include core_business_cycle *.txt
recursive-exclude core_business_cycle *.pyc